@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" action="~/Name.cshtml"
          enctype="application/x-www-form-urlencoded">
        <div>
            <label for="name">Name</label>
        <div>
            <input name="name" type="text" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>
</html>
