@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 600px) and (max-width: 1024px) {}

@media only screen and (max-width: 600px) {}

$column-width: 100% / 12;
$bg-color: #E0E4CC;

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    min-height: 100%;
    font-size: 16px;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    img {
        width: $column-width;
    }
    .title {
        font-size: 32px;
        width: $column-width * 4;
    }
    .space {
        width: $column-width * 2;
    }
    .menu {
        width: $column-width * 5;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        line-height: 32px;
        .menuOption {}
    }
}

.content {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    div {
        width: $column-width * 3;
    }
    .divTitle {
        width: 40%;
        height: 15%;
        font-size: 24px;
        text-align: center;
        border-bottom: solid;
        border-left: solid;
        box-sizing: border-box;
        position: relative;
        left: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divContent {
        width: 80%;
        margin: 10% 10%;
    }
    .div1 {
        border-style: solid;
        background: $bg-color;
        .divTitle {
            background: #68D1E6;
        }
    }
    .div2 {
        border-style: solid;
        background: $bg-color;
        .divTitle {
            background: #F38630;
        }
    }
    .div3 {
        border-style: solid;
        background: $bg-color;
        .divTitle {
            background: #E9AEAF;
        }
    }
}
.footerWraper {
    min-height: 100%;
    border: solid;
    box-sizing: border-box;
}

.footer {
    clear: both;
    position: sticky;
    height: 80px;
    margin-top: -80px;
    background: $bg-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span+span{
        font-weight: bold;
    }
    border: solid;
    box-sizing: border-box;
}