html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  margin: 0px;
}

.footerWraper {
  min-height: 100%;
  border: solid;
  box-sizing: border-box;
}

.footer {
  clear: both;
  position: sticky;
  height: 80px;
  margin-top: -80px;
  background: #E0E4CC;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  box-sizing: border-box;
}
.footer span + span {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .header {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
  }
  .header img {
    width: 8.3333333333%;
  }
  .header .title {
    font-size: 32px;
    width: 33.3333333333%;
  }
  .header .space {
    width: 16.6666666667%;
  }
  .header .menu {
    width: 41.6666666667%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    line-height: 32px;
  }
  .header .menuBtn {
    visibility: hidden;
  }

  .content {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
  }
  .content div {
    width: 25%;
  }
  .content .divTitle {
    width: 40%;
    height: 15%;
    font-size: 24px;
    text-align: center;
    border-bottom: solid;
    border-left: solid;
    box-sizing: border-box;
    position: relative;
    left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content .divContent {
    width: 80%;
    margin: 10% 10%;
  }
  .content .div1 {
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div1 .divTitle {
    background: #68D1E6;
  }
  .content .div2 {
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div2 .divTitle {
    background: #F38630;
  }
  .content .div3 {
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div3 .divTitle {
    background: #E9AEAF;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .footerWraper {
    height: 100%;
  }

  .header {
    margin-left: 5%;
    display: flex;
    align-items: center;
  }
  .header img {
    width: 8.3333333333%;
  }
  .header .title {
    font-size: 32px;
    width: 33.3333333333%;
  }
  .header .space {
    width: 50%;
  }
  .header .menu {
    display: none;
  }
  .header .menuBtn {
    width: 8.3333333333%;
  }

  .content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-template-rows: 47.5% 47.5%;
    grid-row-gap: 5%;
    height: 70%;
  }
  .content div {
    box-sizing: border-box;
    width: 100%;
  }
  .content .divTitle {
    width: 40%;
    height: 15%;
    font-size: 24px;
    text-align: center;
    border-bottom: solid;
    border-left: solid;
    box-sizing: border-box;
    position: relative;
    left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content .divContent {
    width: 80%;
    margin: 10% 10%;
  }
  .content .div1 {
    grid-row: 1;
    grid-column: 1/-1;
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div1 .divTitle {
    background: #68D1E6;
  }
  .content .div2 {
    grid-row: 2;
    grid-column: 1;
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div2 .divTitle {
    background: #F38630;
  }
  .content .div3 {
    grid-row: 2;
    grid-column: 2;
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div3 .divTitle {
    background: #E9AEAF;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
  }
  .header img {
    width: 16.6666666667%;
  }
  .header .title {
    display: none;
  }
  .header .space {
    width: 66.6666666667%;
  }
  .header .menu {
    display: none;
  }

  .content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: grid;
    margin-bottom: 100px;
    grid-row-gap: 40px;
  }
  .content div {
    box-sizing: border-box;
    width: 100%;
  }
  .content .divTitle {
    width: 40%;
    height: 15%;
    font-size: 24px;
    text-align: center;
    border-bottom: solid;
    border-left: solid;
    box-sizing: border-box;
    position: relative;
    left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content .divContent {
    width: 80%;
    margin: 10% 10%;
  }
  .content .div1 {
    grid-row: 1;
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div1 .divTitle {
    background: #68D1E6;
  }
  .content .div2 {
    grid-row: 2;
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div2 .divTitle {
    background: #F38630;
  }
  .content .div3 {
    grid-row: 3;
    border-style: solid;
    background: #E0E4CC;
  }
  .content .div3 .divTitle {
    background: #E9AEAF;
  }
}

/*# sourceMappingURL=style.css.map */
